#about
	padding 50px 0 0
.about-container
	background-color: rgba(#f5e2d9,.6)
	box-shadow: 0 0 10px 5px rgba(#f5e2d9,.6)
	padding 5px
	position relative
	z-index 12
	border: 1px solid P
	padding 50px 200px
	text-align: center
	&:before
		content ''
		display block
		position: absolute
		width 105px
		height 116px
		background-image url(../img/images/form-stone-1.png)
		background-repeat no-repeat
		background-position: center
		background-size: contain
		bottom:  -43px
		left 17px
	&:after
		content ''
		display block
		position: absolute
		width 211px
		height 246px
		background-image url(../img/images/form-stone-2.png)
		background-repeat no-repeat
		background-position: center
		background-size: contain
		top -50px
		right -17px
.about-title
	font-size: 22px
	font-family: PNBk
	text-transform: uppercase
	margin-bottom: 20px
	color P
.about-text
	font-size: 20px
	span
		font-family: PNBd