.modal-backdrop.in
	opacity .8
.modal-content
	border-radius: 0
	border: 0
.modal-dialog
	width 900px
button.close
	position: absolute
	font-size: 20px
	text-align: center
	background-color transparent
	top 10px
	right 10px
	font-family: PN
	border-radius: 50px
	border: 1px solid P
	color P
	opacity 1
	width 24px
	padding 1px 0 0
	z-index 99
	transition: all .3s ease
	&:hover
		opacity .5
		transform: rotate(45deg)
.modal-body
	module-subtitle
		width 88%