@media screen and (min-width: 2295px) {
  body {
    font-size: 20px;
  }
  .container {
    width: 1400px;
  }
  .contact {
    font-size: 18px;
  }
  .module-subtitle,
  .record-title {
    font-size: 22px;
  }
  .features-info {
    max-width: 770px;
  }
  .technic {
    height: 412px;
  }
}
@media screen and (max-width: 1199px) {
  .module {
    background-position: center left;
  }
  .packet-body {
    min-height: 222px;
  }
  .button-cost:before {
    max-width: 96%;
  }
  .text-rev-img {
    height: 211px;
  }
  .last-container {
    padding: 40px 250px 60px;
  }
  .modal-dialog {
    width: auto;
    margin: 20px;
  }
  .technic {
    height: 378px;
  }
}
@media screen and (max-width: 991px) {
  header {
    padding: 15px 0;
  }
  .header-logo {
    width: 100px;
    height: 44px;
    float: none;
    margin: 0 auto 3px;
    display: block;
  }
  .contacts {
    text-align: center;
    float: none;
  }
  .contact {
    line-height: 1.3;
    background-size: contain;
    background-position: center left;
  }
  .contact.contact-email,
  .contact.contact-skype,
  .contact.contact-tel {
    padding-left: 30px;
    margin-left: 8px;
  }
  .contact.contact-email {
    padding-left: 35px;
  }
  .about-container {
    padding: 20px 20px 70px;
    margin-bottom: 20px;
  }
  .about-container:after {
    width: 111px;
    height: 126px;
    top: auto;
    bottom: -55px;
    right: 16px;
  }
  .features-item-img,
  .lets-item-img {
    right: 0;
  }
  .features-info,
  .lets-info {
    margin-left: 0;
    max-width: 600px;
  }
  .module-1:before {
    top: -45px;
  }
  .module-3:before {
    bottom: -55px;
  }
  .packet-body {
    min-height: 300px;
  }
  .last-container:after {
    width: 111px;
    height: 126px;
    top: auto;
    bottom: -30px;
  }
  .text-rev-img {
    height: 157px;
  }
  .last-container {
    padding: 30px;
  }
  #last {
    padding: 0 0 50px;
  }
  .technic {
    height: 446px;
  }
}
@media screen and (max-width: 767px) {
  #main {
    padding: 0 0 40px;
  }
  .main-title {
    font-size: 48px;
    margin-bottom: 20px;
  }
  .main-info:last-of-type {
    margin: 10px 0 30px;
  }
  #about,
  #author {
    padding: 40px 0 0;
  }
  .features-item,
  .lets-item {
    padding-top: 0;
    box-shadow: 0px 4px 26.68px 2.32px rgba(0,0,0,0.49);
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
  }
  .features-item-img,
  .lets-item-img {
    position: static;
    width: 100%;
    height: auto;
  }
  .features-info,
  .lets-info {
    padding: 30px;
    box-shadow: none;
    max-width: 100%;
  }
  .module-results-title {
    margin-top: 30px;
  }
  #features,
  #lets,
  #prices,
  #records {
    padding: 40px 0;
  }
  .packet-body {
    min-height: 1px;
  }
  .author-title {
    margin-top: 30px;
  }
  .author-text {
    margin-bottom: 20px;
  }
  .general-title-revs {
    margin-top: 40px;
  }
  #last {
    padding-bottom: 40px;
  }
  .last-title {
    font-size: 32px;
    line-height: 1.2;
  }
  .last-container:before,
  .last-container:after {
    bottom: 20px;
  }
  .technic {
    height: 355px;
  }
}
@media screen and (max-width: 485px) {
  body {
    line-height: 1.3;
  }
  header {
    padding: 10px 0;
    margin-bottom: 30px;
  }
  .header-logo {
    width: 60px;
    height: 31px;
  }
  .contact {
    font-size: 12px;
    line-height: 16px;
    background-size: contain;
  }
  .contact.contact-email,
  .contact.contact-skype,
  .contact.contact-tel {
    padding-left: 22px;
  }
  .main-title {
    font-size: 40px;
    line-height: 1.2;
  }
  .main-info {
    font-size: 18px;
  }
  .main-info span {
    font-size: 20px;
  }
  .about-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .about-text {
    font-size: 18px;
  }
  .general-title {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .features-info,
  .lets-info {
    padding: 20px 20px 20px 30px;
  }
  .button-features,
  .button-lets {
    margin-top: 30px;
  }
  #plan {
    padding-top: 10px;
  }
  .prepayment-title {
    font-size: 32px;
  }
  .timer-title {
    font-size: 28px;
  }
  .flip-clock-wrapper {
    width: 100%;
    max-width: 260px;
    margin-top: 20px;
  }
  .flip-clock-wrapper ul {
    height: 50px;
    margin: 3px;
  }
  .flip-clock-wrapper ul li {
    line-height: 50px;
  }
  .flip-clock-wrapper ul li a div.up::after {
    top: 24px;
  }
  .flip-clock-wrapper ul li a div div.inn {
    font-size: 40px;
  }
  .flip-clock-divider {
    height: 50px;
  }
  .flip-clock-dot {
    width: 7px;
    height: 7px;
    left: 3px;
  }
  .flip-clock-dot.top {
    top: 31px;
  }
  .flip-clock-dot.bottom {
    bottom: 27px;
  }
  .flip-clock-divider .flip-clock-label,
  .flip-clock-divider.minutes .flip-clock-label,
  .flip-clock-divider.seconds .flip-clock-label {
    font-size: 10px;
    right: -59px;
  }
  .general-title-revs,
  .button-records-sale {
    margin-top: 30px;
  }
  .author-title {
    font-size: 24px;
    margin-top: 20px;
  }
  .text-rev-img,
  .video-wrapper-rev {
    margin-bottom: 20px;
  }
  .record {
    margin-bottom: 30px;
  }
  .records-text {
    font-size: 20px;
  }
  .last-title {
    font-size: 26px;
  }
  .last-text {
    font-size: 18px;
    margin: 15px 0;
  }
  .last-container::after,
  .last-container::before {
    bottom: 5px;
  }
  footer {
    padding: 15px 0;
    font-size: 12px;
  }
  footer h5 {
    font-size: 16px;
  }
  footer p {
    font-size: 12px;
  }
  .soc-buttons a {
    margin: 10px 5px;
  }
  .button-wrapper:before {
    width: 95%;
    max-width: 295px;
  }
  #technics {
    padding: 50px 0 0;
  }
}
@media screen and (max-width: 385px) {
  #main {
    padding: 0 0 30px;
  }
  #about,
  #author {
    padding: 30px 0 0;
  }
  #features,
  #lets,
  #prices {
    padding: 30px 0;
  }
  .pre {
    font-size: 18px;
  }
  .main-title {
    font-size: 30px;
  }
  .general-title {
    font-size: 24px;
  }
  .about-container {
    padding: 15px 15px 70px;
  }
  .about-title {
    font-size: 18px;
  }
  .about-container:before {
    content: none;
  }
  .about-container:after {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .module {
    padding: 15px;
    margin-bottom: 25px;
  }
  .module-title {
    font-size: 20px;
  }
  .module-results-title {
    font-size: 18px;
    margin-top: 20px;
  }
  .module-subtitle {
    font-size: 18px;
  }
  .module-3:before {
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .packet {
    padding: 15px;
  }
  .packet-head {
    padding: 0 0 15px;
  }
  .packet-body {
    padding: 15px 0;
  }
  .packet-footer {
    padding: 15px 0 0;
  }
  .cost {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .cost span {
    font-size: 28px;
  }
  .cost-today {
    margin-bottom: 20px;
  }
  .timer-title {
    margin-top: 20px;
    font-size: 26px;
  }
  .author-text {
    margin-bottom: 10px;
  }
  .text-rev-img {
    height: 110px;
  }
  .general-title-revs {
    margin-top: 20px;
  }
  #records {
    padding: 30px 0 50px;
  }
  .last-container {
    padding: 20px;
  }
  #last {
    padding-bottom: 30px;
  }
  .modal-dialog {
    margin: 10px;
  }
  .technic {
    height: auto;
    display: block;
    padding-top: 170px;
    background-size: auto 150px;
  }
  .technic-text {
    display: block;
  }
}
