PN = 'ProximaNova',sans-serif;
PNBk = 'ProximaNovaBlack',sans-serif;
PNBd = 'ProximaNovaBold',sans-serif;
P = #5c145d

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova.eot');
	src: url('../fonts/ProximaNova.eot') format('embedded-opentype'),
		 url('../fonts/ProximaNova.woff2') format('woff2'),
		 url('../fonts/ProximaNova.woff') format('woff'),
		 url('../fonts/ProximaNova.ttf') format('truetype'),
		 url('../fonts/ProximaNova.svg#ProximaNova') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaBlack';
	src: url('../fonts/ProximaNovaBlack.eot');
	src: url('../fonts/ProximaNovaBlack.eot') format('embedded-opentype'),
		 url('../fonts/ProximaNovaBlack.woff2') format('woff2'),
		 url('../fonts/ProximaNovaBlack.woff') format('woff'),
		 url('../fonts/ProximaNovaBlack.ttf') format('truetype'),
		 url('../fonts/ProximaNovaBlack.svg#ProximaNovaBlack') format('svg');
	font-display: fallback;
	font-weight: 900
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaBold';
	src: url('../fonts/ProximaNovaBold.eot');
	src: url('../fonts/ProximaNovaBold.eot') format('embedded-opentype'),
		 url('../fonts/ProximaNovaBold.woff2') format('woff2'),
		 url('../fonts/ProximaNovaBold.woff') format('woff'),
		 url('../fonts/ProximaNovaBold.ttf') format('truetype'),
		 url('../fonts/ProximaNovaBold.svg#ProximaNovaBold') format('svg');
	font-display: fallback;
	font-weight: bold
	font-style: normal;
}