.general-title
.main-title
.main-info span
.about-title
.lets-info li
.features-info li
.module-title
.module-results-title
.module-list li
.packet-head-title
.cost span
.prepayment-title
.timer-title
.author-title
.last-title
	font-weight: 900
.button
.contact
.pre
.main-info
.about-text span
.module-subtitle
.packet-head-title small
.packet-body-title
.cost
.prepayment-text
.record-title
.record-text a
footer h5
	font-weight: bold
.lets-info li span
.features-info li span
.module-list li span
button.close
	font-weight: normal
.text-rev-img
	height auto