.button
.pre
.alert-message
	font-weight: bold
.general-title
.main-title
.main-info-text
.mail-section-title
.about-info-text span, .lets-info-text span
.for-item-info-title
.day-title
.day-bonus-title
.author-title
.last-title
.modal-main-title
.modal-main-subtitle
.modal-main-info-text
.politics-modal-content .modal-title
	font-weight: 900
.main-info-text span
.modal-main-info-text span
button.close
.politics-modal-content .modal-title small
	font-weight: normal
.for-item-info
	display: block
.text-rev-img
	height auto