.button
.contact
.main-title
.main-subtitle
.alert-message
.bots-link
footer h5
.politics-modal-content	.modal-title
	font-weight: bold
.main-title span
.main-subtitle span
.general-title
		font-weight: 900
.politics-modal-content	.modal-title small
	font-weight: normal
.checking
	max-width 500px