@import '0.fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/jquery.fancybox.min.css'

@import '0.base'

@import '0.header'
@import 'main/1.main'
@import 'main/2.about'
@import 'main/3.for'
@import 'main/4.plan'
@import 'main/6.author'
@import 'main/7.revs'
@import 'main/8.last'
@import 'main/9.footer'
@import 'main/10.modals'
@import 'main/11.politics'
@import 'main/12.medias'