@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.contact
	.politics-modal-content p
		font-size: 18px
	.main-title
	.main-subtitle
	.main-subtitle.main-subtitle-bots
		margin-top: 100px
@media screen and (max-width 1199px)
	header
		padding 15px 0
	.header-logo
		width 100px
		height 44px
		float: none
		margin 0 auto 3px
		display block
	.contacts
		text-align: center
		float: none
	.contact
		line-height: 1.3
		background-size: 30px
	.contact.contact-email
	.contact.contact-skype
	.contact.contact-tel
		padding-left: 30px
	.main-title
	.main-subtitle
	.main-subtitle.main-subtitle-bots
		margin-top: 40px
@media screen and (max-width 613px)
	.checking .check-label
		line-height: 1.4
@media screen and (max-width 485px)
	#main
		padding 0 0 40px
	.header-logo
		width 60px
		height 31px
	.contact
		font-size: 12px
		line-height: 16px
		background-size contain
	.contact.contact-email
	.contact.contact-skype
	.contact.contact-tel
		padding-left: 17px
	.main-subtitle, .main-subtitle.main-subtitle-bots
		margin-top: 20px
		font-size: 18px
	.main-title
		margin-top: 20px
		font-size: 22px
	.main-title span
		font-size: 26px
	.main-subtitle span
		font-size: 24px
	.bots-link
		width 50%
	footer
		padding 15px 0
		font-size: 12px
		h5
			font-size: 16px
		p
			font-size: 12px
	.soc-buttons a
		margin 10px 5px
@media screen and (max-width 385px)
	.main-title
		font-size: 20px
		span
			font-size: 24px
	.form-promo
		padding 20px 10px
	.politics-modal-content .modal-title
		font-size: 16px
	.form-promo
		margin-bottom: 25px
	.main-subtitle span
		font-size: 22px
	.bots-link
		font-size: 12px