-var head_url = 'https://popov.mastervision.su/runes-secrets/bonus/';
-var head_title = 'Как стать энергичным и бодрым за 5 минут в день';
-var head_description = 'Бонус от Василия Попова';
-var video = 'YZgT1nYlXzs';
-var styles = '../css/bonus.min.css';
//- -var fb_content = '2030481470529055'
-var fav_ico = '../favicon.ico'
-var fav_png = '../favicon.png'

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/bonus/1.main.pug
		include pug/bonus/3.footer.pug
		script(src="../js/bonus.min.js")
		include pug/scripts/body_bottom_scripts