-var head_title = 'Выбирайте Ваш любимый мессенджер, жмите на кнопку и забирайте бонус';
-var styles = '../css/promo.min.css';
-var fav_ico = '../favicon.ico'
-var fav_png = '../favicon.png'

	
<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_fb_scripts
	body
		include pug/scripts/body_top_fb_scripts
		section#main
			include pug/0.header.pug
			.container
				h2.main-subtitle.main-subtitle-bots Выбирайте Ваш любимый мессенджер, жмите на кнопку и забирайте бонус
					span +
					span Бонус: «Как стать энергичным и бодрым за 5 минут в день»
				include pug/bots/bots.pug
		include pug/bonus/3.footer.pug
		script(src="../js/thanks.min.js")
		include pug/scripts/body_bottom_scripts