-var head_title = 'Вы зарегистрированы на мастер-класс «Секреты рун»';
-var styles = '../css/promo.min.css';
-var fav_ico = '../favicon.ico'
-var fav_png = '../favicon.png'

	
<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		section#main
			include pug/0.header.pug
			.container
				h1.main-title Вы зарегистрированы на мастер-класс 
					span «Секреты рун»
				.button-wrapper
					a.button.button-1.button-thanks(href='' target="_blank") Забрать доп.материалы
				h2.main-subtitle Регистрируйтесь в удобный для вас мессенджер, чтобы оставаться на связи и не пропустить мастер-класс
					span +
					span Бонус: «Название бонуса»
				include pug/bots/bots.pug
		include pug/bonus/3.footer.pug
		script(src="../js/thanks.min.js")
		include pug/scripts/body_bottom_scripts