#main
	padding 0 0 50px
	background-color: #E3D3C7
	background-image url(../img/backs/main-info-bg.png),url(../img/backs/main-bg.jpg)
	background-repeat no-repeat, no-repeat
	background-position: center, center left
	background-size: contain, cover
	overflow hidden
	text-align: center
	&.bonus-main
		min-height: calc(100vh - 149px)
.pre
	font-size: 20px
	font-family: PNBd
.main-title
	color P
	font-size: 32px
	font-family: PNBk
	text-transform: uppercase
	text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff

	&.main-title-confirm
		font-size: 30px
		line-height: 1.3
		margin-bottom: 20px
		&+h2
			font-size: 30px
			font-family: PNBd
			margin-bottom: 30px 0
.main-subtitle
	font-size: 22px
	line-height: 39px
	margin 30px 0
.main-info
	font-family: PNBd
	font-size: 22px
	margin-top: 25px
	span
		font-size: 24px
		color #fff
		background-color: P
		padding 0 5px
		display: inline-block
.video-wrapper-main
	max-width: 560px
	margin : 30px auto 0
.main-text
	font-size: 20px
	margin-top: 25px
	text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff
	font-family: PNBd
#main.remind
	min-height: calc(100vh - 149px)
.remind-main-title
	margin: 60px 0 30px
	padding 0
	font-size: 30px
	display block
	a
		color P
		display: inline
		border-bottom: 2px dotted
		font-size: 50px
		&:focus
			color #000
		&:hover
			border-bottom: 0
			text-decoration: none
			color P
.remind-main-subtitle
	font-size: 24px
	margin 0
	font-family: PNBd
	text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff
#confirm
	padding 0 0 30px
	min-height: calc(100vh - 58px)
.mails
{
	display:table;
	height: 100px;
	width: 100%;
	text-align: center;
	margin: 0 auto 40px;
}
.mail-cell
{
	display: table-cell;
	vertical-align: middle;
}
.mail-img
{
	width: 108px;
}
.confirm-img
{
	width: 100%;
	max-width: 770px;
	box-shadow: 0 0 15px 3px rPNBa(0,0,0,.05)
}
.confirm-text
{
	font-size: 20px;
	margin-bottom: 30px;
	line-height: 1.3;
}
.confirm-text:last-child
{
	margin-bottom: 0
}
#feedback
	padding 50px 0
	min-height 525px
#vk
#fb
	overflow hidden
	border-radius: 0
	box-shadow: 0 4px 24px 2px rgba(0,0,0,0.49)