@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.modal-col
		padding 29px
	.switch-col
		height  528px
	.day-4
		margin-top: 370px
@media screen and (max-width 1199px)
	.mail-section-container
		padding 20px 200px
	.about-info, .lets-info
		margin-left: 0
	.about-item-img, .lets-item-img
		right 0
	.for-item-info
	.text-rev-img
		height 211px
	.last-container
		padding 40px 250px 60px
	.day-4
		margin-top: 390px
@media screen and (max-width 991px)
	header
		padding 15px 0
	.header-logo
		width 100px
		height 44px
		float: none
		margin 0 auto 3px
		display block
	.contacts
		text-align: center
		float: none
	.contact
		line-height: 1.3
		background-size: contain
		background-position: center left
	.contact.contact-email
	.contact.contact-skype
	.contact.contact-tel
		padding-left: 30px
		margin-left: 8px
	.contact.contact-email
		padding-left: 35px
	#main
		text-align: center
	.main-subtitle
		margin 30px 0
	.main-info-desktop
		display: none
	.main-info-mobile
		display block
	.video-wrapper-main
		margin-top: 20px
	.mail-section-container
		padding 20px
	.mail-section:before
		top auto
		bottom -20px
	.mail-section:after
	.last-container:after
		width: 111px;
		height: 126px;
		top auto
		bottom: -30px
	.text-rev-img
		height 157px
	.last-container
		padding 30px
	.day-4
		margin-top: 445px
@media screen and (max-width 767px)
	.main-title
		font-size: 60px
	.mail-section
		margin-top: 40px
	.input-mail-main
		float: none
		margin-bottom: 10px
	.button.button-form
		float: none
		margin 0 auto
		width 100%
		max-width 300px
	.modal-dialog
		width auto
	.about-item, .lets-item
		padding-top: 0
		box-shadow: 0px 4px 26.68px 2.32px rgba(0,0,0,0.49)
		width 100%
		max-width 570px
		margin 0 auto
	.about-item-img, .lets-item-img
		position: static
		width 100%
		height auto
	.about-info, .lets-info
		padding 30px
		box-shadow: none
		max-width 100%
	#about, #lets
		padding 40px 0
	#for
	#plan
	#revs
	#last
		padding 40px 0 0
	.for-item
		min-height 1px
		padding 170px 20px 20px
	.for-item-info
		padding 0
		height auto
		display block
	.day-1
		margin-top: 0
	.day-1:before
		top -30px
	#author
		padding 0
	.author-title
		margin-top: 30px
	.author-text
		margin-bottom: 20px
	.general-title-revs
		margin-top: 40px
	.last-title
		font-size: 32px
		line-height: 1.2
	.last-container:before
	.last-container:after
		bottom: 20px
	.modal-col
		width 100%
		float: none
		text-align: center
		padding 20px
	.modal-main-title
		font-size: 36px
		line-height: 1
		text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff
	.modal-main-subtitle
		margin 10px 0
		text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff
	.modal-main-info-text.modal-main-info-text:last-of-type
		margin-top: 10px
	.modal-main-info-text
		text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff
	.input-mail-modal
		max-width 300px
	.checking
		max-width 300px
	.checking .check-label
		line-height: 19px
	#Modal button.close
		border-color: #fff
		color #fff
	.switch-col
		height  auto
	.day-4
		margin-top: 0
@media screen and (max-width 485px)
	body
		line-height: 1.3
	#main
		padding 0 0 30px
	#about, #lets
		padding 30px 0
	#for
	#plan
	#revs
	#last
		padding 30px 0 0
	header
		padding 10px 0
	.header-logo
		width 60px
		height 31px
	.contact
		font-size: 12px
		line-height: 16px
		background-size contain
	.contact.contact-email
	.contact.contact-skype
	.contact.contact-tel
		padding-left: 22px
	.main-title
		font-size: 40px
		line-height: 1.2
	.main-subtitle
		font-size: 20px
		margin 10px 0 20px
	.pre
		font-size: 20px
	.mail-section
		margin-top: 30px
	.mail-section:before
	.mail-section:after
		bottom: 20px
	.about-info, .lets-info
		padding 20px
	.about-info-text, .lets-info-text
		margin-bottom: 20px
	.general-title
		font-size: 26px
		margin-bottom: 30px
	.day
	.last-container
		padding 20px
	.day-title
		font-size: 22px
		margin-bottom: 20px
	.day-list
		margin-bottom: 20px
	.button-plan
		margin-top: 10px
	.button-lets
		margin-top: 30px
	.author-title
		font-size: 24px
		margin-top: 20px
	.text-rev-img
	.video-wrapper-rev
		margin-bottom: 20px
	.last-title
		font-size: 26px
	.last-text
		font-size: 18px
		margin 15px 0
	footer
		padding 15px 0
	.modal-main-title
		width 84%
		margin 0 auto
		font-size: 32px
	.politics-modal-content .modal-title
		font-size: 16px
		small
			font-size: 14px
	.button-wrapper:before
		width 95%
		max-width 295px
@media screen and (max-width 385px)
	header
		margin-bottom: 20px
	.main-title
		font-size: 32px
	.main-subtitle
		line-height: 1.3
	.mail-section
		margin-top: 20px
	.mail-section-container
	.modal-col
		padding 15px
	.mail-section-title
	.modal-title
		font-size: 18px
	.about-info-text, .lets-info-text
		margin-bottom: 15px
	.general-title
		font-size: 24px
	.modal-main-title
		font-size: 28px
	.modal-main-subtitle
		font-size: 18px
		margin 5px 0
	.day-title
		font-size: 20px
	.text-rev-img
		height 110px
	.general-title-revs
		margin-top: 30px
	.day-2:before
		left 0
	.last-container::after, .last-container::before
		bottom 4px