#revs
	padding 50px 0 0
.text-rev-link
	display block
	position relative
	&:before
		content: ''
		display block
		position: absolute
		top 0
		left 0
		right 0
		height 100%
		width 100%
		background-color: rgba(#000,.6)
		background-image url(../img/icons/lupe.png)
		background-repeat no-repeat
		background-position: center
		opacity 0
		transition: all .3s ease
	&:hover
		&:before
			opacity 1
.text-rev-img
	height 270px
	background-color #fff
	object-fit: contain
	object-position: center
	border: 3px solid P
	display block
	margin 0 auto 30px
	width 100%
.video-wrapper-rev
	max-width 560px
	margin-bottom: 30px
.general-title-revs
	margin-top: 50px