section#about
	.container
		.about-item
			img(src="img/images/about.jpg", alt="Данный мастер-класс является авторским").about-item-img
			.about-info
				.about-info-text
					span Данный мастер-класс 
					| является авторским
				.about-info-text
					span Все практики и рунескрипты 
					| разработаны лично Мастером, поэтому Вы их не увидите больше нигде
				.about-info-text
					span Исключительная эффективность 
					| данных методик подтверждена несколькими тысячами студентов, посетивших этот мастер класс
				.about-info-text
					span Уникальность упражнений – в лёгкости 
					| усвоения для студентов любого уровня подготовки и высоком проценте успеха в применении