mixin fi(cl,h4,p)
	.col-md-3.col-sm-6
		.for-item(class=cl)
			.for-item-info
				h4.for-item-info-title=h4
				p.for-item-info-text=p

section#for
	.container
		+gt('general-title-for','Этот мастер-класс для вас, если вы ответите «да» хотя бы на один вопрос')
		.row
			+fi('for-item-1','ЧУВСТВУЕТЕ СЕБЯ ПОДАВЛЕННЫМ, БЕЗ ЭНЕРГИИ?','РУНИЧЕСКИЕ МЕДИТАЦИИ ПОМОГУТ  ВОССТАНОВИТЬ ЭНЕРГИЮ, ВЕРНУТ ВАМ БОДРОСТЬ И ОПТИМИЗМ!')
			+fi('for-item-2','НЕ СКЛАДЫВАЕТСЯ ЛИЧНАЯ ЖИЗНЬ?','УЗНАЙТЕ, ЧТО ТАКОЕ ЛЮБОВЬ С ПОМОЩЬЮ РУН И ВОЙДИТЕ В ПОТОК ЛЮБВИ И СЧАСТЬЯ!')
			+fi('for-item-3','ПРОБЛЕМЫ НА РАБОТЕ?','ПРИМЕНИТЕ РУНИЧЕСКИЕ ТЕХНОЛОГИИ ДЛЯ ПРОДВИЖЕНИЯ ПО КАРЬЕРНОЙ ЛЕСТНИЦЕ!')
			+fi('for-item-4','ВЕДЁТЕ СВОЙ БИЗНЕС?','СДЕЛАЙТЕ ЕГО ЕЩЁ БОЛЕЕ УСПЕШНЫМ С ПОМОЩЬЮ РУНИЧЕСКИХ ФОРМУЛ!')
		.row
			+fi('for-item-5','НЕ ЗНАЕТЕ, ЗАЧЕМ ВЫ В ЭТОМ МИРЕ?','СПРОСИТЕ У РУН И ПОЛУЧИТЕ ОТВЕТ!')
			+fi('for-item-6','ЕСТЬ ПРОБЛЕМЫ СО ЗДОРОВЬЕМ?','СДЕЛАЙТЕ СЕБЯ ЗДОРОВЫМ С ПОМОЩЬЮ ЭНЕРГИИ РУН!')
			+fi('for-item-7','ДАВНО ПЫТАЕТЕСЬ РАБОТАТЬ С РУНАМИ, НО БЕЗРЕЗУЛЬТАТНО?','УЗНАЙТЕ, КАК ЭТО ДЕЛАТЬ ПРАВИЛЬНО!')
			+fi('for-item-8','НИЧЕГО НЕ ЗНАЕТЕ О РУНАХ?','ПРИХОДИТЕ И ПОЛУЧИТЕ ЗНАНИЯ! ИНТЕНСИВ РАССЧИТАН КАК НА НОВИЧКОВ, ТАК И НА ОПЫТНЫХ РУНОЛОГОВ!')
		+b('button-for','измениться сейчас')