section#lets
	.container
		+gt('','Те знания, которые вы получите на этом курсе вместе с руническими практиками, позволят вам:')
		.lets-item
			img(src="img/images/lets.jpg", alt="Те знания, которые вы получите на этом курсе вместе с руническими практиками, позволят вам:").lets-item-img
			.lets-info
				.lets-info-text
					span оставаться 
					| энергичным и бодрым в течение всего дня
				.lets-info-text
					span увеличить 
					| вашу финансовую ёмкость и поправить финансовое положение
				.lets-info-text
					span продвинуться 
					| по карьерной лестнице или продвинуть свой бизнес 
				.lets-info-text
					span очистить 
					| своё тело, эмоции и разум от негативных программ, стать более здоровым
				.lets-info-text
					span выйти на связь 
					| с силами своей судьбы, осознать своё предназначение и обрести любовь
		+b('button-lets','Записаться')