section#author
	.container
		+gt('','о тренере')
		.row
			.col-md-5.col-sm-6.col-md-push-7.col-md-push-6
				img(src="img/images/basile.jpg", alt="Василий Попов").author-img
			.col-md-7.col-sm-6.col-md-pull-5.col-sm-pull-6
				h4.author-title василий попов
				p.author-text Преподаватель, эзотерик, мистик
				p.author-text В нынешнем воплощении занимается духовной практикой около 20 лет, но, по факту, истоки опыта Мастера теряются в глубине веков
				p.author-text Имеет высшее педагогическое образование по специальности «Преподаватель английского и французского языка» и 15-летний опыт работы в учебных заведениях России и Франции, а также в негосударственных учебных центрах
				p.author-text Имея в своём распоряжении обширные знания из области магии таро, рун, каббалистики, парапсихологии, подкреплённые современными научными и педагогическими исследованиями, Василий Попов доносит сложнейшую мудрость сфер понятно, чётко, доходчиво