section#last
	.container
		.last-wrapper
			.last-container
				h3.last-title Начните сейчас!
				p.last-text Десятки тысяч учеников доверяют нам и реализуют свои цели!
				+b('','#prices','Записаться')