section#about
	.container
		.about-container
			h3.about-title Измените всё то, что давно требует Вашего личного вмешательства! Освойте техники рунической мантики, не имеющие аналогов!
			p.about-text
				span Курс «Руническая магия» 
				| представляет собой комплекс практик для  эффективной и безопасной работы с энергиями рун. Значения и способы применения рун Вы освоите с помощью уникальных технологий, восходящих своими корнями к древним цивилизациям. Восстановление древних рунических технологий явилось плодом личной практики мастера и его работы со своими прошлыми воплощениями, откуда и черпалась информация. Основной упор делается на гадательные техники и на способы воздействия руническими потоками на тело, разум, ситуации, судьбу