section#lets
	.container
		+gt('','Курс позволит Вам:')
		.lets-item
			img(src="img/images/lets.jpg", alt="Курс позволит Вам:").lets-item-img
			.lets-info
				ul.lets-info-list
					li Полностью понять процессы, которые происходят в Вашей жизни, и направлять их в нужное Вам русло;
					li Управлять своим здоровьем, корректируя самочувствие быстро и качественно;
					li Получить поддержку от родовой системы в виде улучшения самочувствия, отношения в семье и с родственниками;
					li Корректировать генетические программы своего тела и развивать нужные качества, которым мешали наследственные установки;
					li Начать убедительно говорить и заставлять людей прислушиваться к Вашему мнению;
					li Открыть в себе способности видеть энергии и просматривать прошлое, настоящее и будущее;
					li Научиться управлять своей жизнью и судьбой, а также помогать другим людям в этом направлении;
					li Раскрыть тайны своих прошлых воплощений и более осмысленно проживать свою жизнь;
					li Научиться видеть ауру объектов и людей, их прошлое, настоящее и будущее;
					li Благодаря знаниям мантики (гадательных техник) обрести уверенность в принятии решений и мотивации других людей;
					li Стать профессиональным рунологом и при желании проводить частные консультации по решению проблем других людей, зарабатывать не менее 50 000 рублей ежемесячно
		+b('button-lets','#prices','Иду на курс!')