section#plan
	.container
		+gt('','План курса')
		.module.module-1
			.row
				.col-md-7.col-sm-6
					h4.module-title Пакет "СЕРЕБРО":
					h5.module-subtitle Атты
					ol.module-list
						li
							span Введение. Магия потоков. Выход на эгрегор Марса. Ванский Геном. Парус. Ловля потоков
						li
							span Атты. Руны Пива. Уруз, Наутиз, Беркана. Вхождение в состояние Эриля. Зарядка предметов. Создание эликсиров. Изготовление Рунического Талисмана
						li
							span Атты. Руны Победы. Феху, Хагалаз, Тейваз. Основы боевых воздействий. Атакующие рунические технологии. Изготовление боевых ставов
						li
							span Атты. Руны Волшбы. Иса, Турсуз, Эйваз. Атакующие рунические технологии – продолжение. Манипуляции со временем. Защитные ставы; комбинированные ставы
						li
							span Атты. Целительские руны. Ингуз, Перт, Кеназ. Работа на трех уровнях реальности: физическом, астральном, ментальном. Составление целительских ставов. Лечение и самолечение
						li
							span Атты. Руны Мысли. Вуньо, Соулу, Отал. Основы псионических воздействий. Принципы внушения на расстоянии и защиты от него. Работа с подсознанием. Удаление и установка ментальных программ. Диалог с индивидуальным и коллективным бессознательным
						li
							span Атты. Руны Речи. Гебо, Альгиз, Дагаз. Основы речевого рунического воздействия. Резонанс и сонастройка. Установление эмпатии. Убеждение. Протоязыки. Основы мантра-йоги
						li
							span Атты. Руны Прибоя. Райдо, Эйви, Лагус. Воздействие на ситуации руническими потоками. Понятие Договора. Изменение Договора. Адаптация систем к изменениям
						li
							span Атты. Повивальные Руны. Анзус, Джера, Маннас. Работа с эгрегорами. Программирование тела и разума. Переписывание качеств с эгрегора на личность. Формирование личности с заданными свойствами. Работа с ДНК. Активация ДНК
				.col-md-5.col-sm-6
					h5.module-results-title По результатам прохождения пакета "СЕРЕБРО" Вы сможете:
					ul.module-results-list
						li Свободно пользоваться полным набором из 24 рун Футарка, знать прикладное значение каждой руны;
						li Создавать рунические артефакты (предметы с заданными свойствами);
						li Защищаться от любых негативных воздействий, а также их диагностировать и снимать;
						li Лечить себя и других с применением целительских рун;
						li Устанавливать, корректировать, удалять программы подсознания для улучшения качества жизни;
						li Осуществлять речевое воздействие с эффектом убеждения (не НЛП!);
						li Производить коррекцию ситуаций в вашу пользу;
						li Производить глубокую трансформацию качеств личности на уровне ДНК - своих или других людей
		.module.module-2
			.row
				.col-md-7.col-sm-6
					h4.module-title Пакет" ЗОЛОТО":
					h5.module-subtitle ВСЁ, что входит в пакет "СЕРЕБРО" + Активация видения. Сборка Личности. Высшее Я
					ol.module-list
						li
							span Принципы видения в рунической магии. Работа в режиме третьего глаза. Переход в высокочастотный режим работы сознания. Подготовка к открытию третьего глаза
						li
							span Активация третьего глаза с помощью рунических потоков. Создание информационной среды для восприятия поступающей информации. Практика приема и передачи информации в режиме третьего глаза
						li
							span Понятие Стихийного Сдвига. Просмотр прошлого, настоящего и будущего с помощью рунических технологий.
						li
							span Работа с Родом. Активация и чистка Родового Канала
						li
							span Активация подсознания. Работа с прошлыми воплощениями и кармой. Союзник. Поиск и активация Союзника. Работа с Союзником
						li
							span Сборка Личности. Углубленные практики по работе с прошлыми воплощениями. Слияние с Союзником. Переписывание качеств Союзника на себя. Создание Мандалы Сборки. Выход на Высшего Союзника. Работа с Высшим Союзником
						li
							span Работа с эгрегорами. Эгрегоры Земли. Канал Инитаксы и работа с ним. Активация Канала Инитаксы. Выход на эгрегоры Космоса. Обучение и помощь от эгрегоров Космоса
						li
							span Работа с Высшим Я. Активация Высшего Я. Обучение через Высшее Я. Техники взаимодействия с Высшим Я с помощью рунических потоков. Коррекция ситуаций через Высшее Я
				.col-md-5.col-sm-6
					h5.module-results-title По результатам прохождения пакета "ЗОЛОТО" Вы сможете:
						small Всё, что входит в пакет "СЕРЕБРО", а также
					ul.module-results-list
						li Открыть и/или усилить механизмы вИдения – будут применяться не имеющие аналогов рунические скрипты, нигде не опубликованные ранее!
						li Просматривать информацию в прошлом, настоящем и будущем, а также проводить диагностику энергопотоков живых и неживых объектов;
						li Активировать родовой канал для получения помощи от ваших предков, а также эффективно с ним работать, его чистить и усиливать;
						li Раскрыть тайны своих прошлых воплощений и перенять те навыки, опыт, знания, которые были наработаны вами в других эпохах! Это позволит значительно ускорить вашу эволюцию и даст колоссальные конкурентные преимущества в социуме;
						li Сформировать связь со своим Высшим Я; фактически, вы получаете своего личного «Ангела-Хранителя» с функциями защиты, обучения, помощи
		.module.module-3
			.row
				.col-md-7.col-sm-6
					h4.module-title Пакет" ПЛАТИНА":
					h5.module-subtitle ВСЁ, что входит в пакеты "СЕРЕБРО" и "ЗОЛОТО" + Магия Древа Иггдрасиль. Параллельные Миры
					ol.module-list
						li
							span Введение в магию параллельных миров. Древо Иггдрасиль как карта. Классификация Миров Иггдрасиль. Понятие порталов. Высокочастотные и низкочастотные порталы. Создание ВЧ порталов. Навигация по мирам Иггдрасиль. Практическая польза от работы с параллельными мирами
						li
							span Миры Иггдрасиль. Мидгард. Создание ВЧ портала и переход. Создание маяков. Освоение пространства. Освоение энергий Мидгарда
						li
							span Миры Иггдрасиль. Муспельхейм. Создание ВЧ портала и переход. Создание маяков. Освоение пространства. Освоение энергий Муспельхейма
						li
							span Миры Иггдрасиль. Свартальфхейм. Создание ВЧ портала и переход. Создание маяков. Освоение пространства. Освоение энергий Свартальфхейма
						li
							span Миры Иггдрасиль. Йотунхейм. Создание ВЧ портала и переход. Создание маяков. Освоение пространства. Освоение энергий Йотунхейма
						li
							span Миры Иггдрасиль. Хельхейм. Создание ВЧ портала и переход. Создание маяков. Освоение пространства. Освоение энергий Хельхейма
						li
							span Миры Иггдрасиль. Ванахейм. Создание ВЧ портала и переход. Создание маяков. Освоение пространства. Освоение энергий Ванахейма
						li
							span Миры Иггдрасиль. Альвхейм. Создание ВЧ портала и переход. Создание маяков. Освоение пространства. Освоение энергий Альвхейма
						li
							span Миры Иггдрасиль. Нильфхейм. Создание ВЧ портала и переход. Создание маяков. Освоение пространства. Освоение энергий Нильфхейма
						li
							span Миры Иггдрасиль. Асгард. Создание ВЧ портала и переход. Создание маяков. Освоение пространства. Освоение энергий Асгарда
						li
							span Посвящение в Эрили. Мужской и женский аспекты Посвящения. Составление Заклинания Девяти Миров
				.col-md-5.col-sm-6
					h5.module-results-title По результатам прохождения пакета "ПЛАТИНА" Вы сможете:
						small Всё, что входит в пакеты "СЕРЕБРО "и "ЗОЛОТО", а также
					ul.module-results-list
						li Работать с энергиями Древа Иггдрасиль, которые многократно усиливают ваше энерго-информационное воздействие;
						li Путешествовать в миры Древа Иггдрасиль, набирать там опыт, знания, энергию, личную силу;
						li Использовать энергию того или иного Мира для своих нужд;
						li Комбинировать энергии разных Миров для достижения максимального результата;
						li Создать уникальное Заклинание Девяти Миров, которое, будучи записанным на Талисман Эриля, даст вам практически неограниченные энергоресурсы;
						li Получить Посвящение в Эрили, которое позволит вам работать в рунических потоках максимально эффективно и безопасно;
						li Получить Посвящение в Эрили в мужском или женском аспектах (в зависимости от пола студента);
						li Гадать на рунах по любым вопросам и ситуациям