section#features
	.container
		+gt('','Особенности курса:')
		.features-item
			img(src="img/images/about.jpg", alt="Особенности курса:").features-item-img
			.features-info
				ul.features-info-list
					li Значения и способы применения рун будут даваться по уникальным технологиям, восходящим своими корнями к древним цивилизациям прошлого! Узнайте, как работали руны тысячи лет назад!
					li Восстановление древних рунических технологий явилось плодом личной практики Мастера и его работы со своими прошлыми воплощениями, откуда и черпалась информация! Приобщитесь к тем знаниям, которые невозможно узнать у кого-либо другого!
					li Основной упор делается не на гадательные техники, а на способы воздействия руническими потоками на тело, разум, ситуации, судьбу! Измените все то, что давно требует вашего личного вмешательства!
					li В ходе курса студенты начнут создание Талисмана Эриля – личного артефакта для работы с рунической магией. Его наличие значительно облегчает личную практику, ускоряет ее и усиливает степень вашего влияния на окружающее пространство.
					li Вследствие высокой сложности курса для самого Мастера перезапуск данного курса не планируется в ближайшем будущем и, возможно, он станет единственным! Успейте сейчас, второго шанса, скорее всего, не будет!
		+b('button-lets','Записаться')