section#records
	.container
		+gt('','Записи мастер-класса')
		.row
			.col-md-6.col-sm-6
				.record
					h4.record-title Запись мастер-класса от 24.02.20
					.video-wrapper.video-wrapper-rec
						iframe(src="https://player.vimeo.com/video/" allowFullScreen mozallowfullscreen webkitAllowFullScreen)
					p.record-text Занятие состоится 24.02.20, в 19:00(мск)
					p.record-text Запись занятия появтся здесь 25.02.20, после 13:00(мск)
			.col-md-6.col-sm-6
				.record
					h4.record-title.record-title-1 Запись мастер-класса от25.02.20
					.video-wrapper.video-wrapper-rec
						iframe(src="https://player.vimeo.com/video/" allowFullScreen mozallowfullscreen webkitAllowFullScreen)
					p.record-text Занятие состоится 25.02.20, в 19:00(мск)
					p.record-text Запись занятия появтся здесь 26.02.20, после 13:00(мск)
		.row
			.col-md-6.col-sm-6.col-md-offset-3.col-sm-offset-3
				.record
					h4.record-title.record-title-2 Запись мастер-класса от 26.02.20
					.video-wrapper.video-wrapper-rec
						iframe(src="https://player.vimeo.com/video/" allowFullScreen mozallowfullscreen webkitAllowFullScreen)
					p.record-text Занятие состоится 26.02.20, в 19:00(мск)
					p.record-text Запись занятия появтся здесь 27.02.20, после 13:00(мск)
		p.records-text Записи занятий будут в свободном доступе до 30.02.20
		h3.general-title Записей мастер-класса более нет 
			span в свободном доступе
		p.records-text Но Вы можете приобрести их полные версии всего за 590р. и радоваться жизни вместе с теми, кто их уже смотрел
		+b('button-records-sale','','Купить записи', '_blank')